.toast {
  position: relative;
  max-width: calc(4 * var(--spacing-5xl));
}

.variant-info {
  --toast-accent: var(--color-primary);
}

.variant-success {
  --toast-accent: var(--color-success-50);
}

.variant-warning {
  --toast-accent: var(--color-warning-50);
}

.variant-failure {
  --toast-accent: var(--color-danger-50);
}

.toast-title {
  line-height: var(--line-height-none);
  font-weight: var(--font-weight-medium);
}

.toast-message {
  color: var(--color-neutral-60);
}

.toast-accent {
  position: absolute;
  inset-block: 0;
  left: calc(-1 * var(--spacing-xs));
  width: var(--spacing-sm);
  z-index: -1;
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  background-color: var(--toast-accent);
}

.toast-icon {
  display: inline-flex;
  color: var(--toast-accent);
}

.dismiss-button-wrapper {
  position: absolute;
  right: var(--spacing-xs);
  top: var(--spacing-sm);
}
